// Navigation Styles here
nav{
    display:flex;
    padding-top:10px;
    width:100%;
    @media @mobile{
        justify-content:center;
        align-content:center;
        }

.top{
    display:flex;
    width:100%;
    @media @mobile{
        flex-wrap:wrap;
        justify-content:center;
        align-content:center;
        width:100%;

    }
}//closing top
h2{
    display:flex;
    width:80%;
    margin-left:10%;
    @media @mobile{
        justify-content:center;
        padding-right:20px;

    }
}// closing h2
a{  width:20%;
    text-decoration:none;
    color:black;
    font-size:1.3em;
    justify-content:space-evenly;
    @media @mobile{
        width:20%;
        padding-bottom:10px;
    }
}// closing a
}// closing nav